body {
    margin: 0;
    padding: 0;
  
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
.filter-option .visually-hidden,
.slider input {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
    display: inline-block;
    padding: 16px 40px;

    font: inherit;
    line-height: 18px;
    font-weight: 500;
    text-align: center;    
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
  
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    color: rgba(255,255,255,0.3);

    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header {
    background-color: #eeeeee;
}

.site-navigation,
.cart,
.developments-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation a,
.cart a {
    display: block;
    padding-bottom: 2px;

    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}


.main-navigation {
    display: flex;
    padding-top: 50px;
    
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.main-header-logo {
    width: 160px;
    height: 65px;
    margin-right: 200px;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin-top: 25px;
}

.cart {
    position: relative;

    width: 115px;
    margin-top: 25px;
    margin-left: auto;

    text-align: right;  
}

.cart::before {
    content: "";

    position: absolute;
    top: 7px;
    right: 100px;

    width: 15px;
    height: 15px;

    background: url(../img/cart-icon.svg) no-repeat;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart a:hover,
.cart a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.cart:active a {
    color: rgba(0,0,0,0.3);
}
.site-navigation-current {
    border-bottom: 2px solid #fb565a;
}

.main-header-logo:hover {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.slider {
    position: relative;
    
    background-color: #eeeeee;
}
  
.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    
    width: 160px;
    height: 18px;
  
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}
  
.slider-controls label {
    position: relative;
    
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    
    border-radius: 50%;
    cursor: pointer;
}
  
.slider-controls label::after {
    content: "";
    
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    
    width: 18px;
    height: 18px;
    
    background: #ffffff;
    
    border-radius: 50%;
}
  
.slider-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}
  
  .slider-item {
    display: none;
    padding: 78px 0 80px 0;
}
  
.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
}
  
.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}
  
.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}
  
#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}
  
  #product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}
  
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}
  
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}
  
.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;
    
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}
  
.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;
}
  
.slider-item-button {
    display: block;
    width: 240px;
    padding: 16px 0;
}

.developments-list {
    display: flex;
    padding: 80px 0;

    border-bottom: 2px solid #eeeeee;
}

.development-item {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 100px;
}

.development-item h3 {
    margin: 25px 0;
    padding: 0;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.development-item p {
    margin: 0;
    margin-top: -10px;
    padding: 0;
    margin-bottom: 33px;
    width: 250px;

    text-align: left;
}

.development-item img {
    order: -1;
}

.development-item a {
    align-self: flex-start;
}

.btn-buy-app {
    background-color: #00ca74;
}

.btn-buy-app:hover,
.btn-buy-app:focus {
    background-color: #00bc6c;
}

.btn-buy-app:active {
    background-color: #00aa62;
}

.btn-buy-presentation {
    background-color: #efc84a;
}

.btn-buy-presentation:hover,
.btn-buy-presentation:focus {
    background-color: #eab534;
}

.btn-buy-presentation:active {
    background-color: #e5a722;
}

.studio {
    padding-top: 75px;
    padding-bottom: 75px;

    display: flex;
    justify-content: space-between;

    color: #283136;
    
    border-bottom: 2px solid #eeeeee;
    background: url(../img/nerds-illustration.jpg) 100% 38px no-repeat;
}

.about-us {
    width: 650px;
}

.about-us b {
    margin: 0;
    padding: 0;

    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.about-us p {
    margin: 0;
    padding: 33px 0 36px;

    line-height: 24px;
}

.about-us ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.about-us h3 {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.about-us li {
    position: relative;

    margin-top: 24px;
    padding-left: 35px;
}

.about-us li::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 1px;

    width: 25px;
    height: 2px;

    background-color: #fb565a;
}

.our-statistics {
    align-self: flex-end;
    width: 360px;

    border-collapse: collapse;
}

.our-statistics caption {
    margin-bottom: 56px;

    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.our-statistics td,
.our-statistics th {
    width: 100px;
    padding-bottom: 37px;

    vertical-align: top;
    text-align: left;
}

.our-statistics td {
    font-size: 45px;
    line-height: 10px;
    font-weight: 700;
    color: #000000;
}

.our-statistics th {
    padding-bottom: 0;

    line-height: 18px;
    font-weight: 400;
}

.our-statistics sup {
    font-size: 30px;
}

.clients {
    border-bottom: 2px solid #eeeeee;
}

.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 200px;
    margin: 0;
    margin: 0 -20px;
    margin-bottom: -20px;
    padding: 20px 0;
    box-sizing: border-box;

    list-style: none;
}

.clients-list li {
    width: 260px;
    margin: 0 20px;
    margin-bottom: 20px;

    text-align: center;

    opacity: 0.2;
}

.clients-list li:hover,
.clients-list li:focus {
    opacity: 1;
}

.clients-list li:active {
    opacity: 0.1;
}

.contacts {
    background-color: #e9e5dc;
}

.map {
    position: relative;

    width: 1440px;
    height: 416px;
    margin: 0 auto;
    margin-top: 60px;
}

.write-us {
    position: absolute;
    top: 55px;
    left: 140px;

    min-width: 319px;
    min-height: 308px;
    padding: 48px 50px;
    box-sizing: border-box;

    background-color: #ffffff;
}

.write-us h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.write-us p {
    margin: 0;
    padding: 0;
    
    line-height: 18px;
    font-style: initial;

    color: #666666;
}

.write-us .adress {
    width: 210px;
    margin-bottom: 20px;
}

.btn-contacts {
    min-width: 219px;
    margin-top: 35px;
}

.main-title {
    margin: 0;
    margin-bottom: 55px;
    padding: 76px 0 108px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-align: center;
    color: #000000;

    background-color: #eeeeee;
}

.catalog-grid {
    display: flex;
    justify-content: space-between;
}

.filters {
    min-width: 260px;
}

.filters h2 {
    margin: 0;
    padding: 0;
}

.filters fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

.filters fieldset:not(:last-child) {
    margin-bottom: 47px;
}

.filters legend {
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.filters fieldset.filter-item {
    width: 260px;
    margin: 0;
    margin-bottom: 58px;
    padding: 0;
    
    border: none;
}

.filter-item legend {
    margin-bottom: 0;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}
  
.range-controls {
    position: relative;
    
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    
    background-color: #f1f1f1;
    
    border-radius: 5px;
}
  
.range-controls .scale {
    height: 2px;
  
    background: #d7dcde;
}
  
.range-controls .bar {
    width: 70%;
    height: 2px;
  
    background: #00ca74;
}
  
.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    
    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}
  
.range-controls .toggle-min {
    left: 17px;
}
  
.range-controls .toggle-max {
    left: 160px;
}
  
.price-controls {
    font-size: 0;
}
  
.price-controls label {
    display: inline-block;
    width: 50%;
    
    font-size: 16px;
    text-transform: uppercase;
}
  
.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    
    text-align: center;
    color: #283136;
    
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}
  
.max-price {
    text-align: right;
}  

.filters ul {
    margin: 0;
    padding: 0;

    line-height: 20px;
    list-style: none; 
    color: #283136;
}

.filters li {
    position: relative;
    
    padding-left: 35px;
}

.filter li:not(:last-child) {
    padding-bottom: 20px;
}

.filter-input-radio + label::before {
    content: "";

    position: absolute;
    top: -3px;
    left: 0;

    width: 25px;
    height: 25px;

    background: url(../img/radio-off.svg) no-repeat;
    opacity: 0.4;
}

.filter-input-radio:checked + label::before {
    background: url(../img/radio-on.svg) no-repeat;
}

.filter-input-checkbox + label::before {
    content: "";

    position: absolute;
    top: -3px;
    left: 0;

    width: 27px;
    height: 23px;

    background: url(../img/checkbox-off.svg) no-repeat;
    opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
    background: url(../img/checkbox-on.svg) no-repeat;
}

.filter-input:disabled + label {
    opacity: 0.3;
}

.filter-input:disabled + label::before {
    opacity: 0.1;
}

.filter-input:not([disabled]):hover + label::before,
.filter-input:not([disabled]):focus + label::before {
    opacity: 1;
}

.btn-filter {
    width: 100%;

    color: #000000;

    background-color: #eeeeee;
}

.btn-filter:hover,
.btn-filter:focus {
    background-color: #dfdfdf;
}

.btn-filter:active {
    color: rgba(0,0,0,0.3);

    background-color: #d5d5d5;
}

.catalog-sorting {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 55px;
}

.catalog-sorting ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    list-style: none;
}

.catalog-sorting h3 {
    margin: 0;
    margin-right: auto;
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.catalog-sorting a {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;

    opacity: 0.3;
}

.sorting-type li:not(:last-child) {
    margin-right: 27px;
}

.catalog-sorting .sorting-type {
    margin-right: 45px;
}
.sorting-direction .direction-down::after {
    content: "";
    
    display: block;
    width: 11px;
    height: 10px;
    margin-right:20px;

    background: url(../img/icon-down-dir.svg) no-repeat;
    opacity: 0.3;
}

.sorting-direction .direction-up::after {
    content: "";
    
    display: block;
    width: 11px;
    height: 10px;

    background: url(../img/icon-up-dir.svg) no-repeat;
    opacity: 0.3;
}

.catalog-sorting a:hover,
.catalog-sorting a:focus,
.direction-up:hover::after,
.direction-up:focus::after,
.direction-down:hover::after,
.direction-down:focus::after {
    opacity: 0.6;
}

.catalog-sorting a:active,
.direction-up:active::after,
.direction-down:active::after,
.catalog-sorting .sorting-type-current,
.sorting-direction .sorting-direction-current::after {
    opacity: 1;
}

.catalog {
    width: 760px;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    text-align: center;
    line-height: 18px;
    list-style: none; 
    color: #666666;
}

.catalog-item {
    position: relative;

    width: 360px;
    margin-bottom: 30px;
}

.catalog-item-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    
    display: none;
    width: 360px;
    min-height: 231px;
    box-sizing: border-box;

    background-color: #eeeeee;
}

.catalog-item-title {
    margin: 0;
    padding: 0;
    padding-top: 27px;
    padding-bottom: 10px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.item-description {
    width: 190px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 30px;

    text-align: center;
}

li:nth-child(2) .item-description,
li:nth-child(5) .item-description,
li:nth-child(6) .item-description {
    width: 230px;
}

.catalog-item:hover > .catalog-item-hover {
    display: block;
}

.catalog-item-hover .button {
    margin-bottom: 44px;

    min-width: 200px;
    box-sizing: border-box;
}

.catalog-item-image::before {
    content: "";

    display: block;
    width: 360px;
    height: 40px;

    background: url(../img/browser.svg) no-repeat;
    opacity: 0.12;
}

.catalog-item:hover > .catalog-item-image::before {
    opacity: 1;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 25px;
  
    list-style: none;
}
  
.pagination-item {
    margin-right: 11px;
}
  
.pagination-item:last-child {
    margin-right: 0;
}
  
.pagination-item a {
    display: block;
    padding: 15px 21px;
    box-sizing:border-box; 
  
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #000000;
  
    background-color: #eeeeee;
}

.paginator-next-page {
    min-width: 260px; 

    font: inherit;
    line-height: 18px;
    font-weight: 500;
    text-align: center;    
    vertical-align: middle;
    text-transform: uppercase;

}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}
  
.pagination-item a:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.pagination-item-current a {
    padding: 12px 18px;

    color: #000000;

    border:3px solid #dbdbdb;
    background-color: #ffffff;
}
  
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #000000;
  
    background-color: #ffffff;
}
  

.main-footer {
    display: flex;
    align-items: center;
    padding: 54px 0;
}

.main-footer a {
    font: inherit;
    color: #000000;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    padding: 0;
    margin-right: 140px;

    list-style: none;
}

.footer-social li {
    position: relative;
}

.social-button::before {
    content: "";

    display: block;
    width: 78px;
    height: 78px;
    border-radius: 50%;

    background-color: #e1e1e1;
}

.social-button::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 78px;
    height: 78px;

    background: url(../img/vk-icon.svg) 50% 50% no-repeat;
}

.fb::after {
    background: url(../img/fb-icon.svg) 50% 50% no-repeat;
}

.inst::after {
    background: url(../img/insta-icon.svg) 50% 50% no-repeat;
}

.social-button:hover::before,
.social-button:focus::before {
    background-color: #e74246;
}

.social-button:active::before {
    background-color: #d7373b;
}

.footer-social li:active > .social-button::after {
    opacity: 0.3;
}

.footer-text b {
    display: block;
    margin-bottom: 10px;

    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.footer-text span {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.modal-write-us {
    position: fixed;
    left: 50%;
    bottom: 180px;

    display: none;
    width: 960px;
    height: 590px;
    margin: 0;
    margin-left: -480px;
    padding: 69px 100px 85px;
    box-sizing: border-box; 
    
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
  
    background-color: #ffffff;
    box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-write-us h2 {
    margin: 0;
    margin-bottom: 41px;
    padding: 0;

    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.write-us-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.write-us-form p {
    margin: 0;
    padding: 0;
}

.btn-write-us {
    align-self: flex-start;
    min-width: 260px;
}

.sub-message {
    display: block;
    margin: 35px 0 10px;
}

.write-us-form input {
    display: block;
    width: 360px;
    height: 50px;
    margin-top: 10px;
    padding: 0 15px;
    box-sizing: border-box; 
}

.message {
    width: 760px;
    height: 118px;
    margin-bottom: 45px;
    padding: 10px;
    box-sizing: border-box;
}

.modal-close {
    position: absolute;
    top: 78px;
    right: 90px;

    padding: 0;
    margin: 0;

    background-color: transparent;
    border: none;
}

.modal-close::before {
    content: "";

    display: block;
    width: 21px;
    height: 21px;

    background: url(../img/close-cross.svg) no-repeat;
    opacity: 0.3;
}

.modal-close:hover::before,
.modal-close:focus::before {
    opacity: 1;
}

.modal-close:active::before {
    opacity: 0.1;
}

.modal-write-us input,
.modal-write-us textarea {
    font: inherit;
    color: rgba(68,68,68,0.5);
    font-weight: 400;

    background-color: #ffffff;
    border: 2px solid #d7dcde;
    border-radius: 3px;
} 

.modal-write-us input:hover,
.modal-write-us textarea:hover {
    border-color: #b4b9bb;
} 

.modal-write-us input:focus,
.modal-write-us textarea:focus {
    color: rgba(68,68,68,1);

    border-color: #000000;
} 

.modal-write-us input:invalid,
.modal-write-us textarea:invalid {
    color: #e74246;

    border-color: #e74246;
} 
