body {
    margin: 0;
    padding: 0;
  
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.button {
    font: inherit;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
  
    text-align: center;    
    vertical-align: middle;
    text-transform: uppercase;
  
    background-color: #fb565a;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    color: rgba(255,255,255,0.3);

    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header {
    background-color: #eeeeee;
}

.site-navigation,
.cart,
.developments-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation a,
.cart a {
    display: block;

    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}


.main-navigation {
    display: flex;
    padding-top: 50px;
    padding-bottom: 35px;
    
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.main-header-logo {
    width: 160px;
    height: 65px;
    margin-right: 200px;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin-top: 25px;
}

.cart {
    width: 80px;
    margin-top: 25px;
    margin-left:auto;

    text-align: right;  
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart a:hover,
.cart a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.cart:active a {
    color: rgba(0,0,0,0.3);
}
.site-navigation-current {
    border-bottom: 2px solid #fb565a;
}

.main-header-logo:hover {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.developments-list {
    display: flex;
    padding-bottom: 80px;

    border-bottom: 2px solid #eeeeee;
}

.development-item {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 100px;
}

.development-item h3 {
    margin: 25px 0;
    padding: 0;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.development-item p {
    margin: 0;
    margin-top: -7px;
    padding: 0;
    margin-bottom: 32px;
    width: 250px;

    text-align: left;
}

.development-item img {
    order: -1;
}

.development-item a {
    align-self: flex-start;
}

.btn-buy-app {
    background-color: #00ca74;
}

.btn-buy-app:hover,
.btn-buy-app:focus {
    background-color: #00bc6c;
}

.btn-buy-app:active {
    background-color: #00aa62;
}

.btn-buy-presentation {
    background-color: #efc84a;
}

.btn-buy-presentation:hover,
.btn-buy-presentation:focus {
    background-color: #eab534;
}

.btn-buy-presentation:active {
    background-color: #e5a722;
}

.catalog-grid {
    display: flex;
    justify-content: space-between;
}

.main-title {
    margin: 0;
    margin-bottom: 60px;
    padding: 43px 0 109px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-align: center;
    color: #000000;

    background-color: #eeeeee;
}

.filters h2 {
    margin: 0;
    padding: 0;
}

.filters fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

.filters fieldset:not(:last-child) {
    margin-bottom: 47px;
}

.filters legend {
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.filters ul {
    margin: 0;
    padding: 0;

    line-height: 20px;
    list-style: none; 
    color: #283136;
}

.filter li:not(:last-child) {
    padding-bottom: 20px;
}

.filter-input:disabled + label {
    opacity: 0.3;
}

.btn-filter {
    color: #000000;

    background-color: #eeeeee;
}

.btn-filter:hover,
.btn-filter:focus {
    background-color: #dfdfdf;
}

.btn-filter:active {
    color: rgba(0,0,0,0.3);

    background-color: #d5d5d5;
}

.catalog {
    width: 760px;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    text-align: center;
    line-height: 18px;
    list-style: none; 
    color: #666666;
}

.catalog-item {
    width: 360px;
    margin-bottom: 33px;
}

.catalog-item-title {
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.item-description {
    width: 240px;
    margin: 0 auto;
    padding: 0;

    text-align: center;
}

.catalog-item-image::before {
    content: "";

    display: block;
    width: 360px;
    height: 40px;

    background: url(../img/browser.svg) no-repeat;
    opacity: 0.12;
}

.catalog-item:hover > .catalog-item-image::before {
    opacity: 1;
}

.main-footer {
    display: flex;
    padding: 70px 0;
}

.main-footer a {
    font: inherit;
    color: #000000;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    padding: 0;
    margin-right: 140px;

    list-style: none;
}

.footer-text b {
    display: block;

    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-text span {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.modal-write-us {
    position: relative;
    width: 960px;
    height: 590px;
    margin: 0;
    padding: 75px 100px 85px;
    box-sizing: border-box; 
    
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
  
    background-color: #ffffff;
    box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-write-us h2 {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;

    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.write-us-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.write-us-form p {
    margin: 0;
    padding: 0;
}

.btn-write-us {
    align-self: flex-start;
}

.sub-message {
    display: block;
    margin: 35px 0 10px;
}

.write-us-form input {
    display: block;
    width: 360px;
    height: 50px;
    margin-top: 10px;
    padding: 0 15px;
    box-sizing: border-box; 
}

.message {
    width: 760px;
    height: 118px;
    margin-bottom: 45px;
    padding: 10px;
    box-sizing: border-box;
}

.modal-close {
    position: absolute;
    top: 80px;
    right: 90px;
}

.modal-write-us input,
.modal-write-us textarea {
    font: inherit;
    color: rgba(68,68,68,0.5);
    font-weight: 400;

    background-color: #ffffff;
    border: 2px solid #d7dcde;
} 

.modal-write-us input:hover,
.modal-write-us textarea:hover {
    border-color: #b4b9bb;
} 

.modal-write-us input:focus,
.modal-write-us textarea:focus {
    color: rgba(68,68,68,1);

    border-color: #000000;
} 

.modal-write-us input:invalid,
.modal-write-us textarea:invalid {
    color: #e74246;

    border-color: #e74246;
} 
